{% extends 'base.html.twig' %}
{% block title %}
Welcome!
{% endblock %}


{% block body %}

<div>
    <h2>Insertion</h2>
    {{ form_start(forms) }}
    Name:
    {{ form_widget(forms.name) }}
    <br>
    Price:
    {{ form_widget(forms.price) }}
    <br>
    <button>Submit</button>
    {{form_end(forms)}}

</div>


{% endblock %}